.listWrapper{
    padding-left: 20px;
    padding-top: 15px;
    margin: 20px;
    grid-area: pokemonList;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.pokemonList{
    margin-bottom: 70px;
}
.superButton{
    background-color: #0e0e0d;
    color: #ffffff;
    width: 500px;
    height: 50px;}
.superButtonWrapper{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}