.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    position: sticky;
    top: 0;
    background-image: url("https://st2.depositphotos.com/8047136/11779/v/950/depositphotos_117792506-stock-illustration-game-balls-seamless-pattern.jpg     ");

}
.filter{
    order:1
}
.p{
    order:2;
    height: 30px;
    width:100px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border: black;
    background-color: #0e0e0d;
}
.renderButton{
    width: 100px;
    height: 100px;
    background-color: #0e0e0d;
    color: white;
}
.renderButton:hover{
    background-color: #4f2e04;
}
.renderButton:active{
    background-color: #64005a;
}