.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footerButton{
    position: fixed;
    z-index: 100;
    bottom: 50px;
    background-color: #8F9780;
    color: #F7F2E5 ;
    border: 2px solid #969292;
    border-radius: 15px;
    width: 500px;
    height: 50px;
}

.footerButton:hover{
    background-color: #7D8570;
}

 .footerButtonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.scrollButton{
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 50px;
    background-color: #8F9780;
    color: #F7F2E5 ;
    border: 2px solid #969292;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.showScrollButton{
    opacity: 1;
    right: 100px;
}