.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerButton {
    position: fixed;
    bottom: 50px;
    border-radius: 15px;
    width: 450px;
    height: 60px;
    background-color: #8F9780;
    color: #F7F2E5;
    border: 2px solid #969292;
    font-size: 20px;
    z-index: 100;
}


.footerButton:hover {
    background-color: #7D8570;
}

.footerButtonPhone {
    width: 65px;
    height: 65px;
    font-size: 24px;
    border-radius: 100%;

}


.footerButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.scrollButton {
    position: fixed;
    cursor: pointer;
    z-index: 100;
    right: 60px;
    bottom: 50px;
    background-color: #8F9780;
    color: #F7F2E5;
    border: 2px solid #969292;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    opacity: 0;
    scale: 0;
    transition: all 0.2s ease-in-out;
}

.scrollButton:hover {
    background-color: #7D8570;
}

.showScrollButton {
    opacity: 1;
    scale: 1;
}

@media screen and (max-width: 700px) {
    .footerButton {
        width: 75px;
        height: 75px;
        bottom: 20px;
    }

    .scrollButton {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 27px;
    }
}

@media screen and (min-width: 1200px) {
    .footerButton {
        width: 450px;
        height: 50px;
        font-size: 20px;
    }
    .scrollButton {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 1660px) {
    .footerButton {
        font-size: 28px;
        width: 650px;
        height: 70px;
    }
    .scrollButton {
        width: 80px;
        height: 80px;
    }
}