.app{
    display: grid;
    width: 100%;
    margin: 0 auto;

    grid-template-areas:
    'header header'
    'pokomenosList pokemonInfo'
    'footer footer';
    grid-template-rows: 3fr;
    column-gap:10px;
    grid-template-columns: 5fr 5fr;
}


