.filterItemWrapper {
    padding: 20px;
    background-color: #F7F2E5;
    border:2px solid #8F9780;
    border-radius: 15px;
    position: absolute;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterButton {
    cursor: pointer;
    width: max-content;
    background-color: #8F9780;
    color: #F7F2E5 ;
    border: 2px solid #969292;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
}
.filterButton:hover{
    background-color: #7D8570;
}
.cancelButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}