.filterButton {
    cursor: pointer;
    padding: 18px;
    background-color: #8F9780;
    color: #F7F2E5 ;
    border: 2px solid #969292;
    border-radius: 15px;
}

.filterButton:hover{
    background-color: #7D8570;
}

.filterItemWrapper {
    padding: 20px;
    background-color: #F7F2E5;
    border:2px solid #8F9780;
    border-radius: 15px;
    position: fixed;
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top:0;
    transform: translateY(130px);
}

.cancelButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}